body{
    margin: 0;
    background-image: url(https://images4.alphacoders.com/932/932271.jpg) ;
    background-size: cover;
    position: relative;
}

.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    
  }
.login-box{
    position: absolute;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ffffff8c;
    padding-top: 0px;
    width: 50%; 
    max-width: 450px; 
    height: 60%;
    gap : 40px;


}
.login-box__head{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    padding-top: 20px;
}
.login-box__body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
input{
    position: relative;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 88%;
    height: 45px;
    background : none;
    top : 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : white;
}
.detail{
    position: relative;
    bottom: 28px;
    left: 28px;
    color: #ffffff;
    transition: bottom 0.4s ease;
}

input:focus ~ .detail,
input:valid ~ .detail{
    bottom: 60px;
}
h2{
    color: #ffffff;
}
.login-box__foot{
    gap : 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-icon[name="radio-outline"] {
    font-size: 2em;
    color: #ffffff;
  }
.input-icon{
    position: relative;
    font-size: 1.5em;
    top : 12px;
    left : -1px;
    color: #ffffff;
}
.login-but{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #ffffff85;
}
.input-place{
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 1px solid white;
}
.forgot{
    color: #ffffff;
    margin-top: 20px;
}
.boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;

}
.box{
    background-color: rgba(0, 0, 0, 0.54);
    width: calc(6.25vw);
    height: calc(6.25vw);
    gap : 1px;
    transition: all 3s ease 0s;

}
.box:hover{
    background-color: #ffffff48;
    transition: all 0s ease 0s;
    box-shadow: 2px 2px 20px 1px rgba(60, 245, 39, 0.341);
    
}

